<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.letsdevelopit.lfydnewapp">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/> 
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

  <application 
  android:name=".MainApplication" 
  android:label="@string/app_name" 
  android:icon="@mipmap/ic_launcher_1" 
  android:roundIcon="@mipmap/ic_launcher_1_round" 
  android:allowBackup="false" 
  android:theme="@style/AppTheme">
    <activity 
    android:exported="true" 
    android:name=".MainActivity" 
    android:label="@string/app_name" 
    android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode" 
    android:launchMode="singleTask" 
    android:windowSoftInputMode="adjustResize">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyAJ_qAklmjyYP_fo6as_npbuVTslECfr_A" />

    <!-- You will also only need to add this uses-library tag -->
    <uses-library android:name="org.apache.http.legacy" android:required="false" />

<activity 
android:name="com.facebook.react.devsupport.DevSettingsActivity" />
        <service
            android:name="com.letsdevelopit.lfydnewapp.BackgroundService"
            android:enabled="true"
            android:exported="false" >
        </service>
        <service
            android:name="com.letsdevelopit.lfydnewapp.BackgroundEventService">
        </service>
        <receiver
        android:exported="false"
            android:name="com.letsdevelopit.lfydnewapp.BootUpReceiver"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
  </application>
</manifest>